* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.main {
    flex:1;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #406EB7;
    padding: 60px 20px;
    color: white;
}
.logo {
    font-size: 30px;
    font-weight: bold;
}
.nav {
    display: flex;
    gap: 15px;
}
.nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: #E95623;
    border-radius: 5px;
    text-align: center;
}
.nav a:hover {
    background-color: #FFA364;
}
.about {
    display: flex;
    gap: 20px;
    padding: 40px 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.about-icon {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #406EB7;
    padding: 30px;
    width: 300px;
    text-align: center;
    border-radius: 15px;
    color: white;
}
.icon {
    font-size: 40px;
    margin-bottom: 15px;
}
.about-icon h3 {
    margin-bottom: 10px;
}
.footer {
    background-color: #406EB7;
    color: white;
    text-align: center;
    padding: 20px;
}