body {
font-family: Arial, Helvetica, sans-serif;
line-height: 1.6;
}
header {
    background-color: #97C2Ec;
    color: white;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: #97C2Ec;
    border-radius: 5px;
    text-align: center;
}
.nav a:hover {
    background-color: blue;
}
@media (min-width:768px) {
    .nav {
        flex-direction: row;
        justify-content: center;
    }
    .nav a {
        background-color: transparent;
        border: 2px solid white;
    }
}

